<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update_gym</title>
    <style>
        .main {
	        margin-left:590px;
            margin-right:auto;
	        width:100%;
        }
        body {
            background-image:url(http://www.xxx.jpg);
            background-color:rgb(190,210,182);
        }

    </style>
</head>
<body>
    <a href="/home"><button type="button" name = "home">back</button></a><br><br>
    <h1 align="center">change club information</h1><br>
    <form action="/home/update/gym"method="post">
        <p class="main">
        {% csrf_token %}
        password <sup>*</sup>:<br><input type = "password"name="g_password"/><br>
        <br>
        name <sup>*</sup>:<br><input type = "test"name="g_name"/><br>
        <br>
        address <sup>*</sup>:<br><input type = "test"name="g_addr"/><br>
        <br>
        open_time <sup>*</sup>:(HH:MM-HH:MM e.g. 08:00-20:00)<br><input type = "test"name="g_open"/><br>
        <br>
        tele <sup>*</sup>:<br><input type = "test"name="g_phone"/><br>
        <br>
        introduction <sup>*</sup>:<br><input type = "test"name="g_intro"/><br>
        <br>
         </p>
        <p align="center"><button type="submit">Submit</button></p>
    </form>
</body>
</html>